services:
  postgres:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: currencies
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

  nextjs:
    build: .
    restart: always
    environment:
      POSTGRES_PRISMA_URL: postgres://postgres:postgres@postgres:5432/currencies?schema=public
    ports:
      - 3000:3000
    depends_on:
      - postgres

volumes:
  postgres:
    driver: local
