name: Build

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.POSTGRES_PRISMA_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Debug env
        run: echo "POSTGRES_PRISMA_URL is set"

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Install dependencies
        run: pnpm install

      - name: Generate Prisma Client
        run: pnpm prisma generate

      - name: Run migrations
        run: pnpm prisma migrate deploy

      - name: Build application
        run: pnpm build
